/* Custom Scrollbar Styling */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #ff3b5c;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #e60042;
}
